### Warmup Exercises

In [ ]:
for i in range(1,8,2):
  print(i)

#Docs: range(start, stop, step)
#Hint: The Range Funtion Iterates from Index start to stop-1

1
3
5
7

In [ ]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

#### We cant multiplicate/divide the i in for loop as in C++ but we can use while

In [ ]:
i = 2
while (i<=10):
  print(i)
  i*=2

2
4
8

In [ ]:
i = 10
while(i>=1):
  print(int(i))
  i/=2

10
5
2
1

In [ ]:
# 2 Unique ways to iterate over a container 
array = [1,2,3,4,5]

In [ ]:
# first way : indexed based iteration
for i in range(len(array)):
  print(array[i])

1
2
3
4
5

In [ ]:
# second way ... for - in
for i in array:
  print(i)

1
2
3
4
5

## Lists and Dictionary Comprehensions

In [ ]:
#Basic Example

s = [i for i in range(5)]
s

""" This is similar to writing the following code to make this array
s=[]
for i in range(5):
  s.append(i)
"""
s

In [ ]:
# Lets Move to 2 way list comprehension

m = [i*j for i in range(1,5) for j in range(1,5) if i!=j]
m

In [ ]:
# Similarily for ditionaries ....

d = {i:i+3 for i in range(5) for j in range(5)}
d

In [ ]:
d = {i:str(i) for i in range(10)}
d

## Lists

In [ ]:
# Thats how you create an empty list
Lists = []

In [ ]:
# This is how you add to a list


Lists.append("Kunal") # Adding a String
Lists.append(2) # Adding a Integer
Lists.append(4.60) # Adding a float
Lists.append([1,2,3,4]) # Adding Another List

# Adding a dictionary

Lists.append({1:"k",2:"u",3:"n",4:"a",5:"l"})


# Lets see how is everyting inside
print(Lists)

In [ ]:
# Want to remove something?
copy = Lists.copy()

# last element
copy.pop()

#pop() will remove the last element in the list by default

print(copy)

In [ ]:
# delete at a certain index
copy = Lists.copy()

copy.pop(2)

print(copy)

In [ ]:
# similarily u can delete by index using del 

a = [1,2,3,4]
del a[2]
print(a)

In [ ]:
# u can also delete element by value 
a = [1,2,3,4,5,6,7]
a.remove(5)
print(a)

## Dictionary

Dictionary are basically *tables*  that hold "key-value" pairs. We often need them in ML while creating / storing data

In [ ]:
# Lets use something we learned
d = {i:str(i*"K") for i in range(5)}
d

In [ ]:
# accessing value via key 
print(d[1])

print(d[2])

In [ ]:
# adding a key-value entry 
d[5] = "KUNAL"
d.update({6:"SAHNI"})
d

In [ ]:
deleting an entry 
del d[5]
d.pop(6) # key-based

In [ ]:
# get the key , values separately 
keys = d.keys()
values = d.values()
items = d.items()

print(keys,"\n",values,"\n",items)

In [ ]:
# Clearing the dictionary 
copy = d.copy()
print(copy)
copy.clear()
print(copy)

In [ ]:
# Is dictionary self sorting ?
d.update({-1:"O"})
d

## Sets and Tuples

A tuple is a sequence of immutable Python objects. Tuples are just like lists with the exception that tuples cannot be changed once declared. Tuples are usually faster than lists.

In [ ]:
tup = (1, "a", "string", 1+2) 
print(tup) 
print(tup[1])

Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

In [ ]:
# initializing an empty set 
empty = set()
empty

In [ ]:
# initializing with values 

one = set([1,2,3,4])
two = set([5,6,7,8])

# another way 
three = {9,10,11,12}

print(one , " " ,two," ", three)

In [ ]:
# add and delete values 
one.add(20)
one.remove(1)
print(one)

### Set Operations , Set comprehensions

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.union(set2))

print(set1.intersection(set2))

print(set1.symmetric_difference(set2))

print(set1.difference(set2))

In [ ]:
setx = {16,20,30}
# These sets have elements in common so it would return False
print(set1.isdisjoint(set2))

# These sets have no elements in common so it would return True
print(set1.isdisjoint(setx))

In [ ]:
# Set comprehensions
set3 = {i*3 for i in range(1,10)}
set3

In [ ]:
# check for subsets
a = {1,2,3,4,5}
b = {4,5}
b.issubset(a)

## Classes

### Declaration and Initialisation

In [ ]:
# Lets create a shelf where we will keep our books

shelf = { i : [] for i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"}

class Book:
  
  def __init__(self,name,author,publisher):
    self.name = name
    self.author = author
    self.publisher = publisher 
    self.shelf_key = name[0].upper()
    
   # method to add book in Shelf 
  
  def add(self,shelf):
    
    entry = {
        "name" : self.name,
        "author": self.author,
        "publisher":self.publisher
    }
    
    
    # check first 
    if entry not in shelf[self.shelf_key] : 
      shelf[self.shelf_key].append(entry)
    
    
    return shelf[self.shelf_key]
  
  
  # method to remove a book from shelf 
  def remove(self,shelf):
    
    entry = {
        "name" : self.name,
        "author": self.author,
        "publisher":self.publisher
    }
    
    
    # check first 
    if entry in shelf[self.shelf_key] :
      shelf[self.shelf_key].remove(entry)
      
      
     
    return shelf[self.shelf_key]

In [ ]:
# Lets test our Book class and shelf 

print(shelf)

In [ ]:
# Now lets add our first Book 
book_one = Book(name = "Animal Farm",author = "George Orwell" ,publisher = "NAL")

# Now lets add this to the shelf
book_one.add(shelf)

print(shelf)

In [ ]:
# Wow that was successfull , 
# Lets add a few more books

book_two = Book("At Grave's End" , "Jeaniene Frost" , "Avon")

book_three = Book("Harry Potter Part1", "J.K. Rowling","Penguin")

book_two.add(shelf)
book_three.add(shelf)


print(shelf)

In [ ]:
# Successfull again now lets try our removing from shelf method 
book_one.remove(shelf)

print(shelf)

## Now some real quick built-in algorithms

In [ ]:
# Wanna sort a list :

lis = [90,12,134,23,1,11,5]
sorted(lis)

In [ ]:
# Reverse a list 
print(*reversed(lis))

# indexed based reversal 
print(lis[::-1])

In [ ]:
string = "abcccddeeeff"

# count number of instances of character
for i in set(string):
  print(i+" occurs : "+str(string.count(i)) +" times ")

In [ ]:
# remove duplicates from list 
arr = [1,2,3,4,5,5,6,6,7,1]

print(list(set(arr)))

In [ ]:
# convert a number to binary 

print(bin(2)[2:])

In [ ]:
# math library 

from math import sqrt , log , sin , cos , tan

print(sqrt(4))
print(log(16,4))
print(sin(90))
print(cos(90))
print(tan(45))

In [ ]:
# convert char to ascii number and vice versa

print(ord("a"))

print(chr(97))